
services:

    web: 
      build:
        context: ./app/php
        dockerfile: Dockerfile  

      container_name: web_container
      depends_on: 
        - database  
      ports: 
        - "8085:80" 
      
      networks:
        - my-networks

      environment:
        
        MYSQL_HOST: database 
        MYSQL_USER: ${MYSQL_USER} 
        MYSQL_PASSWORD: ${MYSQL_PASSWORD} 
        MYSQL_DATABASE: ${MYSQL_DATABASE} 

      develop:
        watch:
          - action: sync+restart
            path: ./app/php        
            target: /var/www/html 
 
    database:
      build:
        context: ./app/database
        dockerfile: Dockerfile.mysql
      container_name: mysql_container
      restart: always

      environment:
        MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD} 
        MYSQL_DATABASE: ${MYSQL_DATABASE} 
        MYSQL_USER: ${MYSQL_USER} 
        MYSQL_PASSWORD: ${MYSQL_PASSWORD}             

      volumes:
        - my-sql-data:/var/lib/mysql

      networks:
        - my-networks

  
    admin:
      image: phpmyadmin:5.2.1
      container_name: pma_container
      restart: always
      depends_on:
        - database

      ports:
        - "8086:80" 

      environment:
        PMA_HOST: database 
        PMA_USER: ${MYSQL_USER} 
        PMA_PASSWORD: ${MYSQL_PASSWORD} 
        PMA_ARBITRARY: 1 

      networks:
        - my-networks

networks:
  my-networks:
    driver: bridge


volumes:
  my-sql-data:
      
